---
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';

import '../styles/global.scss'

export interface Props {
	title: string;
	description: string;
	url: string;
	lang: string;
	image: string;
}

const { title, description, url, lang, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/icons/icon.svg" />
		<meta name="generator" content="LNP Group Website" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@LNP_Group" />
		<meta name="twitter:creator" content="@LNP_Group" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta property="og:url" content={url} />
		<meta property="og:site_name" content={title} />
		<meta property="og:locale" content={lang} />
		<link rel="canonical" href={url} />
		<link rel="stylesheet" href="https://use.typekit.net/xsr8mot.css">
		<script src="https://kit.fontawesome.com/a81ac619a8.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Menu />
		<slot />
		<Footer />
	</body>
</html>
